.cardInformative {
  box-sizing: border-box; 
  backdrop-filter: blur(6px); 
  background-color: white;
  min-width: 380px;
  height: 100%;
  display: flex;
  font-size: 16px;
  border-radius: 15px;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 0 0 10px;
  max-height: 300px;
  overflow: hidden;
}

.price{
  color: black;
  letter-spacing: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.cardInformative > div {
  width: 50%;
}

.dollar{
  color: green;
  filter: drop-shadow(0 0 1px white);
}

.cardInformative-first {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  width: 80%;
}
.cardInformative a {
  color: black;
}

.cardInformative-first .about {
  padding: 1em;
  /* height: fit-content; */
  height: 20%;
  vertical-align: middle;
  font-style: italic;
  filter: drop-shadow(0 0 1px black);
}

.cardInformative-image-container {
  width: 100%;
  height: 70%;
}

.cardInformative-image-container .anime-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardInformative-second {
  background: linear-gradient(white, var(--purple));
  padding: 1em;
  text-align: left;
  font-weight: 500;
  height: auto;
  width: 20%;
}
.cardInformative-second > * {
  margin-bottom: 1em;
}

.cardInformative-second h4{
  font-size: 30px;
  text-align: center;
  margin-bottom: -10px;
  font-style: italic;
  filter: drop-shadow(0 0 2px var(--blue));
  transform: rotate(-2deg);

}

.description {
  opacity: 0.9;
  width: 100%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}
.date {
  font-size: 14px;
}
.read-more {
  /* color: rgba(255, 255, 255, 0.685) !important; */
  opacity: 0.5;
  font-style: italic;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.read-more:hover {
  opacity: 1;
  filter: drop-shadow(0 0 2px white);
  color: white;
}

.store{
  color: white;
  margin-bottom: 5px;
  font-size: 50px;
  filter: drop-shadow(0 0 5px)
}

