/* sección */

.section1_container {
  color: white;
  /* background-color: #5A2095; */
  /* background-color: #1a0750; */
  background-color: #0685FC;
  padding: 40px;
  font-size: 20px;
  text-align: left;
}


* {
  text-decoration: none;
}

.section_container {
  background-color: white;
  text-decoration: none;
  padding: 2em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.section_newAnimes {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));

  gap: 2em;
}
.section_link {
  width: 5%;
}

.down {
  font-size: 30px;
  color: #5E17EB;
}

.down:hover {
  animation: increseArrow 1.8s infinite;
}

@keyframes increseArrow {
  30% {
    transform: scale(1.5);
  }
  79% {
    transform: translateY(0.5em);
  }
  11% {
    transform: translateY(0em);
  }
}
