.form-container {
  margin-top: 250px;
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
}

.card {
  width: 300px;
  height: 850px;
  background: #f4f6fb;
  border: 5px solid white;
  box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
  -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
  -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
}

.form-card {
  padding: 25px;
}

.card_header {
    margin-left: 20px;
  display: flex;
  align-items: center;
}

.card svg {
  color: #5e17eb;
  margin-bottom: 20px;
  margin-right: 5px;
}

.form_heading {
  padding-bottom: 20px;
  font-size: 21px;
  color: #5e17eb;
}

.field {
  padding-bottom: 10px;
}

.input {
  border-radius: 5px;
  background-color: #e9e9f7;
  padding: 5px;
  width: 80%;
  color: #7a7ab3;
  border: 1px solid #dadaf7;
}

.form__error {
  display: flow-root;
}

.input:focus-visible {
  outline: 1px solid #aeaed6;
}

.input::placeholder {
  color: #bcbcdf;
}

label {
  color: #b2bac8;
  font-size: 14px;
  display: block;
  padding-bottom: 4px;
}

.button {
  background-color: #5e17eb;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 7px 12px;
  height: auto;
  font-weight: 500;
  color: white;
}

.button:hover {
  background-color: #5f5f9c;
}
.login-google-btn {
  margin-top: 10px;
  background-color: #0685fc;
  width: 50px;
  height: 40px;
  border-radius: 70px;
  border: none;
}

.field .icon-go {
  margin-top: 12px;
  color: white;
  margin-left: 5px;
}

.form__error {
  color: red;
  font-style: italic;
}
