.form-container {
  margin-top: 250px;
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
}

.card {
  width: 300px;
  height: 850px;
  background: #f4f6fb;
  border: 5px solid white;
  box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
  -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
  -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
}

.form-card {
  padding: 25px;
}

.card_header {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.card svg {
  color: #5e17eb;
  margin-bottom: 20px;
  margin-right: 5px;
}

.form_heading {
  padding-bottom: 20px;
  font-size: 21px;
  color: #5e17eb;
}

.field {
  padding-bottom: 10px;
}

.input {
  border-radius: 5px;
  background-color: #e9e9f7;
  padding: 5px;
  width: 80%;
  color: #7a7ab3;
  border: 1px solid #dadaf7;
}

.form__error {
  display: flow-root;
}

.input:focus-visible {
  outline: 1px solid #aeaed6;
}

.input::placeholder {
  color: #bcbcdf;
}

label {
  color: #b2bac8;
  font-size: 14px;
  display: block;
  padding-bottom: 4px;
}

.button {
  background-color: #5e17eb;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 7px 12px;
  height: auto;
  font-weight: 500;
  color: white;
}

.button:hover {
  background-color: #5f5f9c;
}
.login-google-btn {
  margin-top: 10px;
  background-color: #0685fc;
  width: 50px;
  height: 40px;
  border-radius: 70px;
  border: none;
}

.field .icon-go {
  margin-top: 12px;
  color: white;
  margin-left: 5px;
}

.form__error {
  color: red;
  font-style: italic;
}

.aside-background {
  width: 35%;
  background-color: var(--main-color-font-dark);
}

.aside-background .anime-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal,
.overlay {
  margin-top: 100px;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.171);
}
.modal-content {
  z-index: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1em;
  width: 500px;
  height: auto;
}

.title-modal {
  color: var(--main-color-font-dark);
  text-align: center;
}

.button-create-list-modal {
  border: 2px solid var(--secondary-color-content-3);
  color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.356);
  background-color: red;
  border-radius: 8px;
  padding: 0.5em;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  transition: all ease 0.3s;
  margin-top: -20px;
}

.img-notFound {
  width: 150px;
  height: 150px;
}
