.footer {
  margin-top: 20px;
  background-color: #ecf0f1;
  color: #0685FC;
  text-align: center;
  padding: 30px 0;
}

.footer p{
    font-size: 20px;
}

.payment{
    margin: 10px;
    font-size: 40px;
}