.container {
    display: flex;
    justify-content: right;
    margin-top: 250px;
    margin-right: 20px;
}


.container select {
    border-radius: 5px;
    padding: 2px;
    background: #eee;
    border: 1px solid #fff;
    box-shadow: 0 0 12px #0685FC;
    margin-left: 4px;
    letter-spacing: 2px;
    outline: none;
}

.container select:active{
    border: none;
}

.container option {
    border: none;
    border-radius: 5px;
    font-style: italic;
}

.inside-container{
    width: 150px; 
    box-shadow: 0 0 5px #0685FC;
    font-style: italic;
    border-radius: 4px;
    transition: all 500ms;
}

.inside-container:hover {
    outline: none;
    box-shadow: 0 3px 5px #aaa;
    transform: translateY(-3px);
    z-index: 2;
}

.inside-container:focus-within{
    box-shadow: 0 0 12px purple;
    
}

.icon {
    margin-right: 5px;
}