
.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    filter: drop-shadow(0 0 2px);
    transition: all 750ms ease;
}

.title:hover {
    transform: translateX(-200px);
}

.title:hover::after{
    content: "💳...........";
}

.name, .address {
    filter:drop-shadow(2px 2px var(--blue));
}

.icon-address {
    color: rgb(249, 0, 0);
}


.sub-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.receipt-card {
    background: linear-gradient(var(--blue), var(--orange), var(--purple));
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 0 10px black;
    text-shadow: 0 0 2px white;
    color: white;
    border-top-right-radius:200px;
    border-bottom-left-radius:100px;
    transition: all 750ms ease;
}

.receipt-card:hover {
    color: black;
    transform: translateY(-5px);
}

.stripe { 
    font-size: 40px;
    color: var(--orange);
    filter: drop-shadow(0 0 5px var(--purple));
}