.container {
    margin-top: 20px;
    padding: 30px;
    background: linear-gradient(white, white, var(--purple));
    border-radius: 20%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 300;
}


.title {
 font-weight: 400;
 letter-spacing: 3px;
}


.input {
    width: 500px;
    height: 80px;
    border: none;
    background: #ddd;
    border-radius: 10px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    outline: none;
    color: black;
    font-weight:700;
    font-size: 15px;
    opacity: 0.8;
    text-shadow: 0 0 2px black;
}

.input:focus {
    box-shadow: 0 0 10px black;
    opacity: 1;
    border-right: 8px solid var(--orange);
    border-bottom: 5px solid var(--orange);
}

.input[name="rating"]{
    width: 40px;
    height: 20px;
    padding: 10px;
    text-shadow: 0 0 2px black;
    list-style-type: circle;
}


.button {
    width: 100px;
    height: 50px;
    padding: 10px;
    margin-left: 400px;
    border: none;
    color: black;
    font-size: large;
    background: var(--blue);
    border-radius: 5px;
}

.button:hover{
    opacity: 0.8;
    box-shadow: 0 0 10px var(--blue);
}

.button:active {
    transform: scale(0.90);
}


.error {
    color: red;
    font-style: italic;
    filter: drop-shadow(0 0 2px red);
    font-weight: 700;
    text-decoration: underline;
}

.label {
    font-weight: 100;
    font-style: italic;
    letter-spacing: 3px;
    color: black;
}