.car {
  color: white;
  background-color: var(--blue);
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;
  height: 44px;
  border: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 70px;
}

.type {
  color: var(--main-color-font-dark);
}


.iconCar {
  font-size: 12px;
  padding: 4px 4px;
  color: var(--main-color-font-dark);
  border-radius: 20px;
  margin-right: 2px;
}

.cart-elements{
  background: red;
  color: white;
  border-radius:50%;
  font-size: 12px;
  padding: 4px 8px;
  position: relative;
  bottom: 25px;
  left: 25px;
}

.hidden {
  overflow: hidden;
  visibility: hidden;
}