.paged-button {
    width: 30px;
    height: 30px;
    border: none;
    font-size: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.paged-button:hover{
    transform: translate(-2px, -3px);
    box-shadow: 2px 3px 0 #aaa;
    background: #0685FC;
    color: white;
}

.paged-button:focus{
    transform: translate(-2px, -3px);
    box-shadow: 2px 3px 0 #aaa;
    background: #0685FC;
    color: white;
}