.container {
    margin-top: 230px;
}

.cart-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    transition: all 500ms ease;
}

.cart-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px var(--orange);
    border: 2px var(--orange) solid;
    border-radius: 20px;
}

.title {
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    filter: drop-shadow(0 0 2px var(--purple));
    transition: all 750ms ease;
}

.title::after {
    content: '🛒';
}

.title:hover {
    transform: translateX(-200px);
}

.title:hover::after {
    content: '🛒🏃‍♂️...........';
}

.image {
    width: 150px;
    height: 150px;
}

.total {
    display: flex;
    justify-content: flex-end;
    font-size: 35px;
    font-style: italic;
    font-weight: 400;
    margin-right: 25px;
}

.product-title {
    font-size: 20px;
    filter: drop-shadow(0 0 2px var(--blue));
}

.product-title, .price {
    font-weight: 100;
}

.price {
    font-size: 30px;
    filter: drop-shadow(0 0 2px var(--purple));
}

.price::first-letter{
    color: green;
}