/* header */

.header {
  width: 106.2%;
  background-image: url("../../img/Background/—Pngtree—shopping\ mall\ supermarket\ selection\ merchandise_1048684.jpg");
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  height: 55vh;
  overflow-x: hidden;
}



.target {
  width: 50%;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  height: 55%;
  margin-right: 120px;
  box-shadow: 0 0 20px;
}

.logo {
  width: 30%;
  height: 100%;
}

.logo img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  width: 50%;
  display: flex;
  padding-right: 1em;
}

.user-info {
  width: 10em;
  margin-left: 20px;
  display: flow-root;
  align-items: center;
  justify-content: center;
}


.user-info h1 {
  color: #F27325;
  font-size: 40px;
  margin-bottom: -20px;
}
.user-info h2 {
  font-size: 20px;
  font-style: italic;
}
.icon-loc{
  margin-right: 5px;
  color: var(--blue);
}

.user-icon {
  display: flex;
  align-items: center;
  column-gap: 1em;
  row-gap: 1.5em;
  margin-top: 2em;
 
}

.user-logo {
  margin-right: 20px;
  background: linear-gradient(var(--blue
  ), var(--purple) );
  width: auto;
  font-size: 50px;
  color: white;
  padding: 20px;
  border-radius: 10px;
}
