/* Nav */

.icon-bar {
  width: 15%;
  height: 100vh;
  background-color: white;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

.options {
  width: 100%;
  height: 100vh;
  background-color: #edeff5;
}

.icon-bar a {
  display: block;
  text-align: justify;
  color: #4c0879;
  padding: 18px;
  font-size: 15px;
  opacity: 40%;
}

.icon-bar a:hover {
  color: #4c0879;
  opacity: 1;
}

.icon-bar a:focus {
  color: #4c0879;
  opacity: 1;
  filter: drop-shadow(0 0 0.5px black);

}

.icon-options {
  margin-right: 5px;
  color: var(--blue);
}

.title {
  padding-top: 30px;
  color: #1a0750;
  text-align: center;
}
